{% extends 'base.html.twig' %}

{% block title %}Edit Structure{% endblock %}

{% block body %}

    <div class="formWidget_boite">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="hr"></div>
        <button class="btn_modifInfo">{{ button_label|default('Modifier les infos') }}</button>
        <div class="clear"></div>
        <a href="{{ path('profilstructure') }}">back to list</a>
        {{ form_end(form) }}

    </div>



    <form method="post" action="{{ path('structure_delete', {'id': structure.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ structure.id) }}">
        <button class="btn_deleteInfo">Supprimer le profil</button>
    </form>
{% endblock %}
