{% extends 'base.html.twig' %}

{% block body %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}

    {{ form_row(registrationForm.structureName) }}
    {{ form_row(registrationForm.structureLocation) }}
    {{ form_row(registrationForm.structureCity) }}
    {{ form_row(registrationForm.structureZipcode) }}
    {{ form_row(registrationForm.structureSiret) }}
    {{ form_row(registrationForm.structurePhone) }}
    {{ form_row(registrationForm.structureType) }}
    {{ form_row(registrationForm.structureNbspace) }}
    {{ form_row(registrationForm.structureTypefood) }}
    {{ form_row(registrationForm.description) }}

    {{ form_row(registrationForm.structureMail) }}
    {{ form_row(registrationForm.structurePassword) }}


    <input type="submit" value="Register">
    {{ form_end(registrationForm) }}


{% endblock body %}