{% extends 'base.html.twig' %}

{% block body %}

    <div class="block"></div>

        <div class="wrap_register">
            {{ form_start(registrationForm) }}

            <h1 class="register_form_h1">Inscription <br> Espace Parents</h1>

            <div class="register_form_mail">
                {{ form_row(registrationForm.parentsMail) }}
                {{ form_row(registrationForm.parentsName) }}
                {{ form_row(registrationForm.parentsFirstname) }}
                {{ form_row(registrationForm.parentsPassword) }}
            </div>

            <div class="hr"></div>

            <input class="login_form_submit" type="submit" value="Je m'inscris">
            {{ form_end(registrationForm) }}
        </div>
        <div class="clear"></div>


{% endblock body %}