{% extends 'base.html.twig' %}

{% block title %}Edit Parents{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Enregistrer modification') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('parents_index') }}">back to list</a>

    <form method="post" action="{{ path('parents_delete', {'id': parent.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ parent.id) }}">
        <button class="btn">Delete</button>
    </form>
{% endblock %}