{% extends 'base.html.twig' %}

{% block title %}Child index{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Child_name</th>
                <th>Child_firstname</th>
                <th>Child_years</th>
                <th>Child_Others</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for child in children %}
            <tr>
                <td>{{ child.ChildName }}</td>
                <td>{{ child.ChildFirstname }}</td>
                <td>{{ child.ChildYears }}</td>
                <td>{{ child.ChildOthers }}</td>
                <td>
                    <a href="{{ path('child_edit', {'id': child.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('child_new') }}">Create new</a>
{% endblock %}
