{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block header %}{% endblock %}
{% block body %}
    <div class="block"></div>
    <div class="fond">
    <div class="image_nom_liste">
        <div class="img_profil">
            <h2>Liste structure</h2>
        </div>
    </div>

    {% for structure in structures %}
        <div class="liste_structures">
            <div class="wrap">
                <div id="informations_structures_visible" class="informations_structures_visible clearfix">
                    <div class="clear"></div>
                    <div class="searchresult_main clearfix certified">
                        <div class="clear"></div>
                        <h2 class="titre_crèche">{{ structure.getStructureName }}</h2>
                        <div class="img_structure">
                            <img src="https://placeimg.com/300/300/any" title="Photo de profil crèche">
                        </div>

                        <div class="formulaire-child">
                            <div class="formulaire-child-triangle"></div>

                            <h2 class="formulaire-child-header">Informations sur cet établissement</h2>
                            <p>
                                Description: {{ structure.getDescription }}
                                <br>
                                Localisation: {{ structure.getStructureCity }}, {{ structure.getStructureLocation }}
                                , {{ structure.getStructureZipcode }}
                                <br>
                                Mail : {{ structure.getStructureMail }}
                                <br>
                                Téléphone: {{ structure.getStructurePhone }}
                                <br>
                                Type alimentation: {{ structure.getStructureTypefood }}
                            </p>
                        </div>
                        <p class="txtPlaces">Place total :</p>
                        <p class="places">{{ structure.getStructureNbspace }}</p>
                        <div class="clear"></div>
                        <div class="inscription-enfant">
                            <a href="{{ path('inscrireEnfant', {'id': structure.id}) }}">&#9664 Inscrire mon enfant &#9658</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    {% endfor %}


{% endblock %}