{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
    <h1>Liste des vacances</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Commence le:</th>
                <th>Fini le:</th>
                <th>Vacances de:</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.title }}</td>
                <td>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}">Voir</a>
                    <a href="{{ path('booking_edit', {'id': booking.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de vacances actualisés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('booking_new') }}">Créer de nouvelles vacances</a>
{% endblock %}
