{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <h1>Vacances de: {{ booking.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Commence le:</th>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fini le:</th>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('booking_index') }}">Retour à la liste</a>

    <a href="{{ path('booking_edit', {'id': booking.id}) }}">Modifier</a>

    {{ include('booking/_delete_form.html.twig') }}
{% endblock %}
