{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <div class="imagedefond">
    <h1>Congé de: {{ booking.title }}</h1>

        <div class="centrer">

    <table class="table">
        <tbody>
            <tr>
                <th>Commence le:</th>
                <td>{{ booking.beginAt ? booking.beginAt|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Fini le:</th>
                <td>{{ booking.endAt ? booking.endAt|date('d-m-Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn-retreat" href="{{ path('booking_index') }}">Retour à la liste</a>

    <a class="btn-ff" href="{{ path('booking_edit', {'id': booking.id}) }}">Modifier</a>

    {{ include('booking/_delete_form.html.twig') }}
    </div>
        <div class="clear"></div>
    </div>
{% endblock %}
