{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block header %}{% endblock %}
{% block body %}
    <div id="parallax-world-of-ugg">
        <section>
            <div class="parallax-one">
                <h2>Candy Crèche</h2>
            </div>
        </section>
    </div>

    <div class="wrap">
        <div class="qui_somme_nous">
            <div class="txt_qui_somme_nous">
                <h2>Qui sommes-nous ?</h2>
                <p>
                    Candy Crèche est l'une des premières application web qui répertorie de nombreuse crèches et assistantes
                    maternelles pour le besoin et le confort des parents.
                    Une fois inscrit, vous pourrez insérer les informations relatives à votre enfant et à vous-même afin
                    de permettre une coopération avec l'établissement ciblé optimale.
                    Cette coopération est facilitée par l'accès permanent à un planning d'ouverture des structures.
                    L'utilisation de la technologie NFC via un bracelet assure aux parents un suivi régulier de leur
                    enfant tout au long de son séjour en crèche.
                </p>
            </div>
        </div>
    </div>
    <div id="parallax-two-parents"></div>
    <div id="parallax-world-of-ugg">
        <section>
            <div id="parallax-two-parents" class="parallax-two">
                <h3>Espace Parents</h3>
            </div>
        </section>
    </div>


    <div class="div_espace_parents_txt">
        <div class="div_espace_parents_txt_titre"><p>Espace Parents</p></div></br>

        <p>Vous êtes parents et à la recherche d'une crèche ou d'une nourrice agrée ? Inscrivez-vous gratuitement sur
            Candy Crèche !
            Notre application web vous propose de trouver rapidement un endroit le plus proche où faire garder vos enfants.
        </p>
        <div class="button">
            <a href="{{ path('app_register_parents') }}">Inscription</a>
            <a href="{{ path('app_login_parents') }}">Connexion</a>
        </div>
    </div>

        <div class="clear"></div>

    <div class="wrap">
        <div id="pourquoi_candy_creche" class="pourquoi_candy_creche">
            <div class="img_pourquoi_candy_creche"></div> <div class="clear"></div>
            <div class="txt_pourquoi_candy_creche">
                <h2>Pourquoi Candy Crèche ?</h2>
                <p>
                    Avec son interface ergonomique, Candy Crèche permet aux parents de trouver gratuitement et au plus
                    vite un établissement d'accueil adapté aux besoins de leur(s) enfant(s).
                    La facilité d'utilisation du service répond aux attentes de l'utilisateur rapidement sans négliger
                    l'aspect qualitatif.
                    L'application web est accessible sur tous supports, permettant une facilité d'accès accrue.
                    D'autre part, les crèches et autres structures agréées utilisant Candy Crèche gagnent en visibilité.
                </p>
            </div>
        </div>
    </div>

    <div id="parallax-two-entreprises"></div>
    <div id="parallax-world-of-ugg">
        <section>
            <div class="parallax-three">
                <h3>Espace Entreprises</h3>
            </div>
        </section>
    </div>

    <div class="div_espace_entreprises_txt">
        <div class="titreTxt2"><p>Espace Entreprises</p></div></br>
        <p>Vous êtes parents et à la recherche d'une crèche ou d'une nourrice agrée ? Inscrivez-vous gratuitement sur
            Candy Crèche !
            Notre application web vous propose de trouver rapidement un endroit le plus proche où faire garder vos enfants.
        </p>

        <div class="button">
            <a href="{{ path('app_register_structure') }}">Inscription</a>
            <a href="{{ path('app_login_structure') }}">Connexion</a>
        </div>
    </div>

    <div class="clear"></div>

    <div class="wrap">
        <div class="equipe">
            <p>Notre équipe de développeurs</p>
            <div class="imgEquipe">
                <img src={{ asset('build/images/profil_parents.2e9b1ee6.jpeg') }} alt="Collègue01"/>
                <div class="nom">
                    <p>Baptiste Angot</p>
                </div>
            </div>

            <div class="imgEquipe">
                <img src={{ asset('build/images/profil_parents.2e9b1ee6.jpeg') }} alt="Collègue02"/>
                <div class="nom">
                    <p>Léo Fouqier</p>
                </div>
            </div>


            <div class="imgEquipe">
                <img src={{ asset('build/images/profil_parents.2e9b1ee6.jpeg') }} alt="Collègue03"/>
                <div class="nom">
                    <p>Nicolas Dufresne</p>
                </div>
            </div>


            <div class="imgEquipe">
                <img src={{ asset('build/images/profil_parents.2e9b1ee6.jpeg') }} alt="Collègue04"/>
                <div class="nom">
                    <p>Quentin Leroy</p>
                </div>
            </div>

            <div class="imgEquipe">
                <img src= {{ asset('build/images/profil_parents.2e9b1ee6.jpeg') }} alt="Collègue05"/>
                <div class="nom">
                    <p>Jean-Baptiste de Saint-Léger</p>
                </div>
            </div>
        </div>

        <div class="clear"></div>

    </div>

    <div class="clear"></div>

{% endblock %}
