{% extends 'base.html.twig' %}

{% block title %}Edit Parents{% endblock %}

{% block body %}

    <div class="fond">

    <div class="formWidget_boite">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn_modifInfo">{{ button_label|default('Mofifier mes infos') }}</button>
        {{ form_end(form) }}


        <form method="post" action="{{ path('parents_delete', {'id': parent.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ parent.id) }}">
            <button class="btn_deleteInfo">Delete</button>
        </form>

    </div>

    <div class="clear"></div>

    </div>

{% endblock %}