{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block header %}{% endblock %}
{% block body %}

    <div class="fond">
        <section id="image_nom">
            <div class="img_profil"></div>
        </section>

        <section id="info_Parents">
            <div class="div_info">
                <h2>Vos informations</h2>
                <hr/>
                <p>Adresse mail: {{ mail }}</p>
                <p>Nom: {{ name }}</p>
                <p>Prénom: {{ firstname }}</p>
            </div>

            {% for enfant in enfants %}

            <div class="div_info">
                <h2>Informations de l'enfant</h2>
                <hr/>
                <p>Nom: {{ enfant.childName }}</p>
                <p>Prénom: {{ enfant.childFirstname }}</p>
                <p>Âge: {{ enfant.childYears}}</p>
                <p>Maladie: </p>
                <p>Allergie:</p>
                <p>Info(s) complémentaire(s): {{ enfant.childOthers }}</p>
            </div>
            {% endfor %}
            <div class="clear"></div>
        </section>
    </div>

{% endblock %}